<html xmlns:layout="" data-theme="corporate">
<head>
    <th:block th:replace="~{common/fragments/config :: ConfigFragment}"/>
    <title>Write Form</title>
</head>
<body>
<th:block th:replace="~{common/fragments/header :: HeaderFragment}"/>
<main class="flex flex-grow content-center justify-center">

    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            let contentTag = document.querySelector("#postContent");
            contentTag.innerHTML = /*[[${post.htmlContent}]]*/'';
        });
    </script>

    <script th:inline="javascript">
        function deletePost(postId) {
            if (confirm('정말로 삭제하시겠습니까?')) {
                location.href = "/post/delete?id=" + postId;
            } else {
                alert("삭제가 취소되었습니다.");
            }
        }
    </script>

    <div class="hero bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="flex flex-col justify-center">
                <img src="https://kr.object.ncloudstorage.com/calocheck/sample/sample_img_no.png"
                     class="rounded-lg shadow-2xl"/>

                <p class="my-4 flex justify-center" th:if="${cafe.nameType.getNameType() == 'nickname'}"
                th:text="'작성자 : '+${post.linkedMember.getNickname()}"></p>

                <p class="my-4 flex justify-center" th:unless="${cafe.nameType.getNameType() == 'nickname'}"
                   th:text="'작성자 : '+${post.linkedMember.getLoginId()}"></p>

                <div class="flex justify-center gap-3" th:if="${loginId.equals(post.linkedMember.getLoginId())}">
                    <a class="btn btn-primary" th:attr="onclick='deletePost(\'' + ${post.id} + '\')'">삭제하기</a>
                    <a class="btn btn-warning" th:href="|/post/modify?id=${post.id}|">수정하기</a>
                </div>
            </div>

            <div class="flex flex-col w-full">
                <div class="flex flex-row">
                    <h3 class="text-2xl font-bold mb-4" th:text="${cafeName}"></h3>
                    <div class="inline-flex ml-2 mt-2 gap-2">
                        <div class="badge badge-outline"
                             th:text="${cafe.isOpen.getState() == 'public' ? '공개' : '비공개'}"></div>
                        <div class="badge badge-outline"
                             th:text="${cafe.nameType.getNameType() == 'nickname' ? '닉네임' : '실명제'}"></div>
                        <div class="badge badge-outline" th:switch="${cafe.subject.getSubject()}">
                            <span th:case="'travel'">여행</span>
                            <span th:case="'food'">음식</span>
                            <span th:case="'study'">공부</span>
                        </div>
                    </div>
                </div>

                <h1 class="text-5xl font-bold mb-4" th:text="${post.postTitle}"></h1>
                <p id="postContent" class="py-6"></p>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{common/fragments/footer :: FooterFragment}"/>
</body>
</html>