<html xmlns:layout="" data-theme="corporate">
<head>
    <th:block th:replace="~{common/fragments/config :: ConfigFragment}"/>
    <title>Detail Cafe</title>
</head>
<body>
<th:block th:replace="~{common/fragments/header :: HeaderFragment}"/>
<main class="flex flex-col content-center justify-center">
    <div class="py-10 flex justify-center hero bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="flex flex-col">
                <h1 class="text-5xl font-bold" th:text="${cafe.cafeName}"></h1>
                <p class="py-6" th:text="${cafe.introduction}"></p>
                <div class="card-actions justify-center mb-4">
                    <div class="badge badge-outline"
                         th:text="${cafe.isOpen.getState() == 'public' ? '공개' : '비공개'}"></div>
                    <div class="badge badge-outline"
                         th:text="${cafe.nameType.getNameType() == 'nickname' ? '닉네임' : '실명제'}"></div>
                    <div class="badge badge-outline" th:switch="${cafe.subject.getSubject()}">
                        <span th:case="'travel'">여행</span>
                        <span th:case="'food'">음식</span>
                        <span th:case="'study'">공부</span>
                    </div>
                </div>

                <div class="flex justify-center gap-3">
                    <i class="mt-4 fa-solid fa-person fa-lg"></i>
                    <p class="mb-4 text-xl text-bold" th:text="${memberCount} + '/' +${memberLimit}"></p>
                </div>

                <!-- FIXME 로그인시에만 가입하기 버튼 보여야함-->
                <div class="flex justify-center" th:unless="${isJoin}">
                    <a class="btn btn-primary" th:href="|/cafeMember/join?id=${cafe.id}|">가입하기</a>
                </div>

                <div class="flex justify-center gap-3" th:if="${isJoin}">
                    <a class="btn btn-warning" href="#">탈퇴하기</a>
                    <a class="btn btn-info" th:href="|/post/write?id=${cafe.id}|">게시물 작성</a>
                </div>

            </div>
            <div class="w-96 h-72">
                <img th:src="${cafe.imgUrl}" class="w-2/3 rounded-lg shadow-2xl"/>
            </div>
        </div>
    </div>

    <div class="flex my-10 w-full h-full justify-center" th:if="${cafe.isOpen.getState() != 'public' and !isJoin}">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
                <div class="card-actions justify-center">
                    <button class="btn btn-square btn-sm">
                        <i class="fa-solid fa-lock"></i>
                    </button>
                </div>
                <p class="my-4 flex justify-center text-xl font-extrabold">비공개 카페 입니다.</p>
            </div>
        </div>
    </div>

    <div th:if="${cafe.isOpen.getState() == 'public' or isJoin}">
        <div class="flex flex-col" th:if="${#lists.isEmpty(postList)}">
            <div class="flex my-10 w-full h-full justify-center">
                <div class="card w-96 bg-base-100 shadow-xl">
                    <div class="card-body">
                        <div class="card-actions justify-center">
                            <button class="btn btn-square btn-sm">
                                <i class="fa-solid fa-copy"></i>
                            </button>
                        </div>
                        <p class="my-4 flex justify-center text-xl font-extrabold">아직 카페에 게시글이 없습니다!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col my-10" th:unless="${#lists.isEmpty(postList)}">
            <div class="flex justify-center my-4">
                <p class="font-sans text-3xl font-bold">게시글 리스트</p>
            </div>
            <div class="ml-10 mb-10 grid grid-cols-1 md:grid-cols-3 xl:grid-cols-3 gap-[30px]">
                <div th:each="post:${postList}" class="card w-72 bg-neutral text-neutral-content">
                    <div class="card-body items-center text-center">
                        <h2 class="card-title" th:text="${post.postTitle}"></h2>
                        <div>
                            <p class="my-4 flex justify-center" th:if="${cafe.nameType.getNameType() == 'nickname'}"
                               th:text="'작성자 : '+${post.linkedMember.getNickname()}"></p>
                            <p class="my-4 flex justify-center" th:unless="${cafe.nameType.getNameType() == 'nickname'}"
                               th:text="'작성자 : '+${post.linkedMember.getLoginId()}"></p>
                        </div>
                        <div class="card-actions justify-end">
                            <a class="btn btn-primary" th:href="|/post/detail?id=${post.id}|">보러가기</a>
                            <a class="btn btn-error" href="#">
                                <i class="fa-regular fa-heart"></i>좋아요
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript" th:if="${failMsg}">
        window.onload = function () {
            alert(/*[[${failMsg}]]*/'');
        };
    </script>

    <script th:inline="javascript" th:if="${successMsg}">
        window.onload = function () {
            alert(/*[[${successMsg}]]*/'');
        };
    </script>

</main>
<th:block th:replace="~{common/fragments/footer :: FooterFragment}"/>
</body>
</html>